.dashboard {
  background-color: var(--clr-light);
  min-height: 80vh;
  padding: 1rem;
}

.dashboard .wrapper {
  display: flex;
  gap: 1rem;
  height: 100%;
}

.sidebar-btn {
  display: none;
  padding: 0.5rem !important;
  cursor: pointer;
}
/* Dashboard Sidebar */
.dashboard .sidebar {
  height: 100%;
  padding: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-basis: 200px;
  background-color: var(--clr-white);
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
  gap: 0.34rem;
}
.sidebar .sidebar-close {
  display: inline-block;
  margin-left: auto;
  display: none;
}
.sidebar .sidebar-header .logo {
  width: 40px;
}
.sidebar .sidebar-header .title {
  font-size: 0.8rem;
}

/* Sidebar Profile */

.sidebar .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  margin-top: 1rem;
  border-bottom: 1px dashed var(--clr-dark);
  border-top: 1px dashed var(--clr-dark);
}
.sidebar .profile .profile-image {
  width: 30px;
}

.sidebar .profile .username {
  font-size: 0.7rem;
}

.sidebar .profile .email {
  font-size: 0.5rem;
}

/* Dashboard Navigation */
.nav .nav-list {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  margin-top: 1rem;
}

.nav .nav-list .nav-item a {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: var(--clr-dark);
  transition: all 0.3s ease-in-out;
}

.nav .nav-list .nav-item a.active,
.nav .nav-list .nav-item a:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

/* Dashboard Content */
.dashboard .wrapper .content {
  flex: 1 0;
}

.content .content-header {
  background-color: var(--clr-white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Header Greetings */
.dashboard .content-header .greeting {
  font-size: 0.7rem;
}

/* Search */
.dashboard .content-header .search {
  position: relative;
  /* background-color: red; */
  flex: 1 0;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard .content-header .search input {
  background-color: var(--clr-light);
  border: none;
  padding: 0.45rem 1rem;
  padding-left: 1.75rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.dashboard .content-header .search .icon {
  position: absolute;
  left: 0.5rem;
  font-size: 0.7rem;
}

.dashboard .search .cancel-search {
  position: absolute;
  right: 0.5rem;
  font-size: 0.5rem;
  border: none;
  background-color: var(--clr-white);
  border-radius: 1rem;
  padding: 0.35rem;
}

/* Header Actions */

.dashboard .content-header .header-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.dashboard .header-actions img {
  width: 30px;
}
.dashboard .header-actions button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--clr-dark);
  border-radius: 5px;
}

/* Management */
.management {
  padding: 0.5rem;
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.management .heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.management .heading h3 {
  font-size: 0.9rem;
}
.management .heading p {
  font-size: 0.7rem;
}

/* Filters */
.management .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.management .filters .tabs-container {
  background-color: var(--clr-light);
  padding: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
}

.management .tabs-container .tab-item.active {
  background-color: var(--clr-white);
}

.management .tabs-container .tab-item {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.6rem;
}

.management .options-container {
  display: flex;
  align-items: center;
}

.management .option-item {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-dark);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.6rem;
}

/* Products Area */

.management .products2 {
  display: flex;
  /* justify-content: center;
  align-items: center; */

  flex-wrap: wrap;
  gap: 0.5rem;
}

.management .products .product2 {
  background-color: purple;
  border: 1px solid red;
  padding: 1rem;
  /* flex-basis: 25%; */

  min-width: 200px;
  max-width: 300px;
  flex: 1 1;
}

.management .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

/* Product Design */
.management .products .product {
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
  border: 2px solid var(--clr-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--clr-white);
}

.management .product img {
  border-radius: 10px;
  height: 120px;
  width: 100%;
  object-fit: cover;
}
.management .product h3 {
  margin-top: 1rem;
  font-size: 0.7rem;
}

.management .product h5 {
  font-size: 0.6rem;
  opacity: 0.7;
  margin-bottom: 0.5rem;
}

.management .product .actions {
  display: flex;
  justify-content: space-between;
}
.management .product h4 {
  font-size: 0.7rem;
}

.management .product .rating {
  font-size: 0.7rem;
}
.management .product .btn {
  width: 100%;
}
.management .product .fa-star {
  color: yellow;
}

/* Tablets */
@media (max-width: 900px) {
  .management .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Big Mobile */
@media (max-width: 520px) {
  .management .products {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Hide Search */
  .dashboard .content-header .search {
    display: none;
  }

  .management .heading,
  .management .filters {
    flex-direction: column !important;
    gap: 1rem;
  }
}

/* Mobile */
@media (max-width: 310px) {
  .management .products {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 720px) {
  .dashboard .sidebar {
    display: none;
  }
  .dashboard .sidebar.active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    max-width: 200px;
  }

  /* Show Sidebar Button Open */
  .sidebar-btn {
    display: inline-block;
  }
  /* Show Sidebar Button close */
  .sidebar .sidebar-close {
    display: inline-block;
  }
}
